.FAQ {
    width: 100vw;
    height: 100vh;
    /* Displaying Groupons FAQ page as an image */
    background-image: url('../images/faqBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .FAQ {
        width: 100vw;
        height: 100vh;
        background-color: white !important;
        background-image: none
    }
}