.sellPage {
    width: 100vw;
    height: 100vh;
    /* Displaying Groupons Sell page as an image */
    background-image: url('../images/sellBackground.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .sellPage {
        width: 100vw;
        height: 100vh;
        background-image: none;
        background-color: white !important;
    }
}